<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>Profile</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/jumbotron/">

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.css" rel="stylesheet"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/cfe77113ea.js" crossorigin="anonymous"></script>

    <!-- Custom styles for this template -->
    <link href="/stylesheets/index.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <h3><i class="fas fa-home mr-2 text-light"></i></h3>
            <a class="navbar-brand text-light font-weight-bold" href="/">rumahlaku</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/signout" class="btn btn-danger my-2 my-sm-0 ml-2 text-light" type="submit">Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <h1 class="display-5" style="text-align: center; margin-top: 30px;"><i
                class="fas fa-home mr-2 text-dark"></i>rumahlaku</h1>
        <h3 style="margin-top: 30px; font-weight: bold;">Reset your password here!</h3>
        <form for="form-profil" action="/pass" method="POST">
            <div class="form-group row" style="margin-top: 10px;">
                <label for="oldpassword" class="col-sm-2 col-form-label">Old password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="oldpassword" name="oldpassword">
                </div>
            </div>
            <div class="form-group row">
                <label for="newpassword" class="col-sm-2 col-form-label">New password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="newpassword" name="newpassword">
                </div>
            </div>
            <div class="form-group row">
                <label for="renewpassword" class="col-sm-2 col-form-label">Retype new password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="renewpassword" name="renewpassword">
                </div>
            </div>
            <button class="btn btn-lg btn-success btn-block" type="submit">Reset</button>
            <% if (info.length > 0) { %>
            <div class="alert alert-success" role="alert">
                <%= info %>
            </div>
            <% } %>
        </form>
    </div>
    <footer class="container">
        <p style="margin-top: 50px; text-align: center;">© Batch 23 Rubicamp 2020</p>
    </footer>

</body>

</html>